.form-label {
  background-color: rgba(107, 138, 217, 0.43);
  display: inline-block;
  text-align: left;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  width: 100%;
}

.form-label span {
  display: block;
  float: left;
  width: 150px;
}

.form-submit {
  margin-top: 20px;
  height: 30px;
  left: 35%;
  width: 30%;
  background-color: rgba(107, 138, 217, 0.43);
}
